@font-face{
    font-family: 'Lato';
    src: url(../fonts/Lato-Light.ttf),
    url(../fonts/Lato-Light.woff);
    }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 30px;
    background-color: #F6F6F5;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

.v_al {
    display: flex;
    align-items: center;
    justify-content: center;
}

.v_al_l {
    display: flex;
    align-items: center;
    justify-content: left;
}

.v_al_b {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}

.row__1 {
    display: flex;
}

.sp_btw{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}

.col__1 {
    display: flex;
    flex-direction: column;
}

.block {
    text-align: center;
    height: 100%;
}

.b_left{
    text-align: left;
}

.b_down {
    vertical-align: bottom;
}

.header {
    min-height: 80px;
    margin: 72px;
}

.header__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    color: #161616;
    position: relative;
    padding-top: 2px;
}

.header__link::after{
    display: block;
    content: '';
    width: 50%;
    height: 1.3px;
    background-color: #D8BFA9;
    position: absolute;
    top: 0;
    left: 0;
}


/* .footer_text_backg::after{
    display: block;
    content: '';
    width: 69px;
    height: 2px;
    background-color: #D8BFA9;
    position: absolute;
    top: 0;
    left: 0;
} */

ul {
    padding-left: 0;
}

li {
    display: inline-block;
    padding-right: 48px;
}

li:last-child {
    padding-right: 0px;
}

.phones_info{
    align-items: center;
}

.phones-info__number {
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    color: #B8926B;
    vertical-align: middle;
}

.phones-info__number-img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    margin-right: 16px;
}

.promo {
    min-height: 460px;
    margin-bottom: 90px;
}

.promo_text_up{
    padding-top: 92px;
    font-size: 59px;
    line-height: 66px;
    color: #161616;
}

.promo_text_dow {
    width: 570px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300 ;
    font-size: 24px;
    line-height: 34px;
    color: #161616;
    margin-top: 32px; 
}

.promo_button {
    margin-top: 64px;
}

.promo_button a {
    text-decoration: none;
    background-color: #69766D;
    padding: 18px 41px 18px 41px;
    color: #F6F6F5;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.pop_up {

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

.pop_up.active {
    transform: translateY(0%) scale(100%);
    background: rgba(54, 54, 54, 0.3);
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 746px;
    height: 518px;
    background: #F6F6F5;
    text-align: center;
    position: relative;
}

.pop_up_body p {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 47px;
    color: #161616;
    margin-bottom: 48px;
}

.pop_up_h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    text-align: left;
    margin-bottom: 11px;
}

.pop_up_h2 {
    display: flex;
    width: 521px;
    font-size: 14px;
    line-height: 16px;
    color: #69766D;
    align-items: flex-start;
    margin-bottom: 32px;
    margin-top: 10px;
}

.pop_up_body_container1 input, .pop_up_body_container2 input {
    width: 521px;
    height: 40px;
    background: #FEFEFE;
    border: 0.5px solid #E4E4E4;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    padding-left: 10px;
}

.pop_up_body_container1 input:focus, .pop_up_body_container2 input:focus{
    outline: none;
    border: 0.5px solid #D8BFA9;
}

.pop_up_body_container1 {
    display: flex;
    flex-direction: column;
    max-width: 521px;
    max-height: 73px;
    gap: 0px;
    margin-bottom: 32px;
}

.pop_up_body_container2 {
    display: flex;
    flex-direction: column;
    max-width: 521px;
    max-height: 73px;
    gap: 0px;
}

.pop_up_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop_up_form:last-child{
    align-items: flex-start;
}

.pop_up_form button {
    width: 227px;
    height: 59px;
    left: 847px;
    top: 676px;
    background: #69766D;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #F6F6F5;
    border: 0;
}

.pop_up_close {
    position: absolute;
    top: 26px;
    right: 26px;
    cursor: pointer;
}

.circle_star {
    position: absolute;
    top: 140px;
    left: 314px;
}

.pop_up_close:hover {
    transform:scale(105%);
}

.svg_ico:hover svg path, .svg_ico:focus svg path, .svg_ico:active svg path {
    fill: #B8926B;
    stroke: #B8926B;
}

.svg_ico:hover svg circle, .svg_ico:focus svg circle, .svg_ico:active svg circle {
    stroke: #B8926B;
}

.footer_info {
    margin: 5px 0 64px 0;
    font-size: 40px;
    line-height: 45px;
    color: #161616;
}

.footer {
    max-height: 100%;
    margin-bottom: 45px;
}

.footer_text {
    width: 470px;
    height: 45px;
}

.footer_text_backg {
    position: relative;
    padding-top: 8px;
}

.footer_text_backg::after{
    display: block;
    content: '';
    width: 69px;
    height: 2px;
    background-color: #D8BFA9;
    position: absolute;
    top: 0;
    left: 0;
}

.f_img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 58px;
}

.elem-s {
    max-height: 238px;
    max-width: 176px;
    text-align: left;
}

.j_c_c {
    justify-content: center;
    flex-wrap: wrap;
    gap: 57px;
}

.f_h1 {
    font-size: 23px;
    line-height: 20px;
    color: #161616;
    margin-bottom: 24px;   
}

.f_h2 {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 19px;
    color: #161616;
}

/* .b_b_helper {
    background-color: #ddd;
    border: solid 1px #aaa;
} */